.content {
	width: 100%;
	max-width: 960px;
  	margin: 0 auto;
  	clear: both;
}

.main {
	float: left;
	width: 100%;
    max-width: 400px;
	padding: 30px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd;
}

.sidebar {
	float: right;
	width: 100%;
	max-width: 500px;
	padding: 30px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ddd;
}
